<table>
  <% @portfolios.each do |portfolio| %>
    <tr>
      <td><%= link_to portfolio.name, portfolio_path(portfolio) %></td>
      <td><%= button_to 'Edit', edit_portfolio_path(portfolio), method: 'get'%></td>
      <td><%= button_to 'Remove', portfolio_path(portfolio), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New portfolio", new_portfolio_path %>
